<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysql" class="com.kayson.dao.UserDaoMysqlImpl"/>
    <bean id="oracle" class="com.kayson.dao.UserDaoOracleImpl"/>
    <bean id="serviceImpl" class="com.kayson.service.UserServiceImpl">
        <property name="userDao" ref="oracle"/>
    </bean>
</beans>